[package]
name = "bytesutil"
version = {workspace = true}
edition = {workspace = true}

[lints]
workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = "1.4.0"
