[package]
name = "catalog"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
persistence = {path = "../persistence"}
access = {path = "../access"}
catalog_types = {path = "../catalog_types"}
common = {path = "../common"}
thiserror = "1.0"
tracing = "0.1"
async-trait = "0.1.59"
futures = "0.3.25"
parking_lot = "0.12.1"
tokio = { version = "1", features = ["full"] }
datafusion = "15.0"
bytes = "1.3"
tempfile = "3"
scc = "0.12.1"
object_store = "0.5"
itertools = "0.10.5"
once_cell = "1.16.0"
