Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
SortIncludes: true
---
Language: "Proto"
BasedOnStyle: Google
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignOperands: true
AlignTrailingComments: true
ColumnLimit: 0
IndentWidth: 4
