# Keep this up to date with .gitignore
.DS_Store
.pre-commit-config.yaml
# nix build results
/target
/result
glaredb_image
pgsrv_image
# Downloaded artifacts from GCS
gcs-artifacts/
# Outputs from cargo flamegraph
flamegraph.svg
# Benchmark artifacts
benchmarks/artifacts/
# Deps downloaded from external sources
/deps

.vscode/

# Spark jar for iceberg data generation
*.jar

# javascript examples
node_modules

# Benchmark data
bench_data/
