[submodule "submodules/arrow"]
	path = submodules/arrow
	url = https://github.com/apache/arrow
[submodule "submodules/parquet-testing"]
	path = submodules/parquet-testing
	url = https://github.com/apache/parquet-testing
[submodule "submodules/testdata"]
	path = submodules/testdata
	url = git@github.com:glaredb/testdata
