.pre-commit-config.yaml
# nix build results
/target
/result
glaredb_image
pgsrv_image
# Downloaded artifacts from GCS
gcs-artifacts/
# Outputs from cargo flamegraph
flamegraph.svg
# Benchmark artifacts
benchmarks/artifacts/
