# Cargo target directories.
/*target

# Temp dir for slts
/slt_tmp

# Outputs from cargo flamegraph
flamegraph.svg

# Python stuff
venv/
.venv/
__pycache__

# Benchmark stuff
**/.tmp
profile.json
# Results output for bench runner benchmarks
/bench/results-*.tsv
/bench/data/

# Coverage reports
lcov.info

# Debug for lineedit
lineedit.log

# Python builds
**/dist

# Scratch dir for tests queries and stuff.
/scratch

