[workspace]
members = ["crates/*", "xtask", "bindings/*", "rstests"]
default-members = ["crates/*", "xtask", "rstests"]
resolver = "2"

[workspace.package]
version = "0.9.4"
edition = "2021"

[profile.release]
lto = "thin"
opt-level = 3
codegen-units = 1
strip = true

[workspace.lints.clippy]
wildcard_imports = "deny"

[workspace.dependencies]
clap = { version = "4.5.8", features = ["derive"] }
datafusion = { version = "36.0.0", features = ["avro"] }
arrow-flight = { version = "50.0.0", features = ["flight-sql-experimental"] }
datafusion-proto = { version = "36.0.0" }
reqwest = { version = "0.12.4", default-features = false, features = [
  "json",
  "rustls-tls",
] }
serde = { version = "1.0", features = ["derive"] }
tokio = { version = "1", features = ["full"] }
tonic = { version = "0.10", features = ["transport", "tls", "tls-roots"] }
anyhow = "1.0.86"
async-trait = "0.1.80"
chrono = "0.4.38"
futures = "0.3.30"
object_store = "0.9"
prost = "0.12"
prost-build = "0.12"
prost-types = "0.12"
rustls = "0.23.10"
serde_json = "1.0.120"
tempfile = "3.10.1"
thiserror = "1.0"
tracing = "0.1"
url = "2.5.2"
bytes = "1.6.0"

[workspace.dependencies.deltalake]
git = "https://github.com/GlareDB/delta-rs.git"
rev = "94773cb304ebc5eaa48d7540eb01cdf08f8b401f"
features = ["s3", "gcs", "azure", "datafusion"]
