[workspace]
members = ["crates/*", "xtask", "py-glaredb"]
default-members = ["crates/*", "xtask"]
resolver = "2"

[workspace.package]
version = "0.5.1"
edition = "2021"

[profile.release]
lto = "thin"

[workspace.dependencies]
datafusion = { version = "32.0", features = ["avro"] }
datafusion-proto = { version = "32.0" }
object_store = { version = "0.7" }
tokio = { version = "1", features = ["full"] }
url = "2.4.0"
thiserror = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.104"
chrono = "0.4.31"
prost = "0.12"
prost-types = "0.12"
tonic = { version = "0.10", features = ["transport", "tls", "tls-roots"] }

[workspace.dependencies.deltalake]
git = "https://github.com/delta-io/delta-rs.git"
branch = "main"
features = ["s3", "gcs", "azure", "datafusion", "arrow", "parquet"]
