[workspace]
members = ["crates/*"]
default-members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.0.1"
edition = "2021"

[workspace.dependencies]
ahash = "0.8.7"
arrow = { version = "50.0.0", features = ["prettyprint"] }
arrow-array = { version = "50.0.0", default-features = false, features = ["chrono-tz"] }
arrow-buffer = { version = "50.0.0", default-features = false }
arrow-cast = { version = "50.0.0", default-features = false }
arrow-ipc = { version = "50.0.0", default-features = false, features = ["lz4"] }
arrow-ord = { version = "50.0.0", default-features = false }
arrow-schema = { version = "50.0.0", default-features = false }
arrow-select = { version = "50.0.0", default-features = false }
chrono = { version = "0.4.31", default-features = false }
futures = "0.3.30"
hashbrown = "0.14.3"
once_cell = "1.19.0"
parking_lot = "0.12"
parquet = { version = "50.0.0", default-features = false }
rayon = "1.8.1"
smallvec = "1.13.1"
num_cpus = "1.16.0"
