# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

[package]
name = "ext_parquet"
version = { workspace = true }
description = "Apache Parquet extension for GlareDB. Originally forked from github.com/apache/arrow-rs"
keywords = ["arrow", "parquet", "hadoop"]
readme = "README.md"
edition = { workspace = true }

[dependencies]
glaredb_error = { path = "../glaredb_error" }
glaredb_core = { path = "../glaredb_core" }

ahash = { workspace = true }
bytes = { version = "1.10", default-features = false, features = ["std"] } # TODO: Remove
thrift = { version = "0.17", default-features = false }
snap = { version = "1.0", default-features = false }
brotli = { version = "6.0", default-features = false, features = ["std"] }
flate2 = { version = "1.1", default-features = false, features = ["zlib-rs"] }
lz4_flex = { version = "0.11", default-features = false, features = ["std", "frame"] }
zstd = { version = "0.13", default-features = false, optional = true }
num = { version = "0.4", default-features = false } # TODO: Replace with num_traits
seq-macro = { version = "0.3", default-features = false }
hashbrown = { version = "0.14", default-features = false }
twox-hash = { version = "1.6", default-features = false }
half = { workspace = true, features = ["num-traits"] }
futures = { workspace = true }

[dev-dependencies]
criterion = { version = "0.5", default-features = false }
tempfile = { version = "3.19", default-features = false }
zstd = { version = "0.13", default-features = false }
# TODO: ?
tokio = { workspace = true, default-features = false, features = ["macros", "rt", "io-util", "fs"] }
rand = { workspace = true, features = ["std", "std_rng"] }

[features]
# Issues building for wasm on macos
zstd = ["dep:zstd"]

[[bench]]
name = "compression"
harness = false

[[bench]]
name = "encoding"
harness = false

[lib]
bench = false
