[package]
name = "pgprototest"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
datadriven = "0.6.0"
postgres-protocol = "0.6.4"
serde = { version = "1.0", features = ["derive"] }
tokio = { version = "1", features = ["full"] }
bytes = "1.3.0"
serde_json = "1.0.89"
clap = { version = "3.2.23", features = ["derive"] }
