[package]
name = "slt"
version = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[lib]
# no tests currently implemented in this package; skip, then
doctest = false
test = false

[dependencies]
clap = { workspace = true }
tokio = { workspace = true }
object_store = { workspace = true, features = ["gcp"] }
async-trait = { workspace = true }
futures = { workspace = true }
tempfile = { workspace = true }
anyhow = { workspace = true }
tracing = { workspace = true }
tonic = { workspace = true }
datafusion = { workspace = true }
arrow-flight = { workspace = true }
datafusion_ext = { path = "../datafusion_ext" }
ioutil = { path = "../ioutil" }
logutil = { path = "../logutil" }
metastore = { path = "../metastore" }
pgrepr = { path = "../pgrepr" }
pgsrv = { path = "../pgsrv" }
rpcsrv = { path = "../rpcsrv" }
sqlexec = { path = "../sqlexec" }
telemetry = { path = "../telemetry" }
uuid = { version = "1.10", features = ["v4", "fast-rng", "macro-diagnostics"] }
glob = "0.3.1"
once_cell = "1.19.0"
regex = "1.10.6"
sqllogictest = "0.22.0"
tokio-postgres = "0.7.11"
walkdir = "2.5.0"
