[package]
name = "slt"
version = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[dependencies]
clap = { workspace = true }
tokio = { workspace = true }
object_store = { workspace = true, features = ["gcp"] }
async-trait = { workspace = true }
futures = { workspace = true }
tempfile = { workspace = true }
anyhow = { workspace = true }
tracing = { workspace = true }
tonic = { workspace = true }
datafusion = { workspace = true } 
arrow-flight = { workspace = true }
datafusion_ext = { path = "../datafusion_ext" }
ioutil = { path = "../ioutil" }
logutil = { path = "../logutil" }
metastore = { path = "../metastore" }
proxy = { path = "../proxy" }
pgrepr = { path = "../pgrepr" }
pgsrv = { path = "../pgsrv" }
rpcsrv = { path = "../rpcsrv" }
sqlexec = { path = "../sqlexec" }
telemetry = { path = "../telemetry" }
tokio-postgres = "0.7.8"
glob = "0.3.1"
regex = "1.10.3"
sqllogictest = "0.19.1"
uuid = { version = "1.8", features = ["v4", "fast-rng", "macro-diagnostics"] }
walkdir = "2.5.0"
once_cell = "1.19.0"
