[package]
name = "rayexec_rt_native"
version.workspace = true
edition.workspace = true

[dependencies]
rayexec_error = { path = "../rayexec_error" }
rayexec_bullet = { path = "../rayexec_bullet" }
rayexec_execution = { path = "../rayexec_execution" }
rayexec_io = { path = "../rayexec_io" }
rayon = { workspace = true }
tokio = { workspace = true, default-features = false, features = ["rt", "rt-multi-thread", "time", "net"] }
tracing = { workspace = true }
futures = { workspace = true }
parking_lot = { workspace = true }
num_cpus = { workspace = true }
url = { workspace = true }
bytes = { version = "1.10", default-features = false, features = ["std"] }
reqwest = { version = "0.12.4", default-features = false, features = ["rustls-tls", "stream"] }
