[package]
edition = "2021"
name = "js-glaredb"
version = "0.0.0"

[lib]
crate-type = ["cdylib"]

[lints]
workspace = true

[dependencies]
# Default enable napi4 feature, see https://nodejs.org/api/n-api.html#node-api-version-matrix
ioutil = { path = "../../crates/ioutil" }
napi = { version = "2.14.2", default-features = false, features = ["full"] }
napi-derive = "2.14.6"
sqlexec = { path = "../../crates/sqlexec" }
metastore = { path = "../../crates/metastore" }
telemetry = { path = "../../crates/telemetry" }
pgsrv = { path = "../../crates/pgsrv" }
pgrepr = { path = "../../crates/pgrepr" }
datafusion_ext = { path = "../../crates/datafusion_ext" }
arrow_util = { path = "../../crates/arrow_util" }
glaredb = { path = "../../crates/glaredb" }
futures = { workspace = true }
datafusion.workspace = true
thiserror = { workspace = true }
url = { workspace = true }
anyhow = { workspace = true }
once_cell = "1.19.0"
async-trait = { workspace = true }
bytes = "1.5.0"
serde.workspace = true
serde_json.workspace = true


[build-dependencies]
napi-build = "2.1.0"
