[package]
name = "storageengine"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
lemur = {path = "../lemur"}
tracing = "0.1"
tracing-subscriber = "0.3"
thiserror = "1.0"
anyhow = "1.0"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = { version = "1.0" }
tokio = { version = "1", features = ["full"] }
async-trait = "0.1.56"
futures = "0.3.21"
parking_lot = "0.12.1"
tokio-util = { version = "0.7.3", features = ["codec"] }
tokio-serde = { version = "0.8", features = ["bincode"] }
rocksdb = "0.19.0"
bincode = "1.3.3"
tempdir = "0.3.7"
clap = { version = "3.2.14", features = ["derive"] }
openraft = { git = "https://github.com/datafuselabs/openraft", branch = "main", features = ["serde"] }
toy-rpc = { version = "0.8.6", features = ["tokio_runtime", "server", "client"] }
