[package]
name = "rayexec_wasm"
version.workspace = true
edition.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
web-sys = { version = "0.3.69", features = [
  "console",
  "KeyboardEvent",
  "Window",
  "Performance",
  "PerformanceTiming"
] }

rayexec_execution = { path = '../rayexec_execution' }
rayexec_bullet = { path = '../rayexec_bullet' }
rayexec_error = { path = '../rayexec_error' }
rayexec_shell = { path = '../rayexec_shell' }
rayexec_parquet = { path = '../rayexec_parquet' }
rayexec_csv = { path = '../rayexec_csv' }
rayexec_delta = { path = '../rayexec_delta' }
rayexec_iceberg = { path = '../rayexec_iceberg' }
rayexec_unity_catalog = { path = '../rayexec_unity_catalog' }
rayexec_io = { path = '../rayexec_io' }
futures = { workspace = true }
parking_lot = { workspace = true }
js-sys = "0.3.69"
tracing = { workspace = true }
tracing-subscriber = {version = "0.3", default-features = false, features = ["std", "fmt", "env-filter"] }
wasm-bindgen = "0.2.97"
wasm-bindgen-futures = "0.4.42"
getrandom = { version = "0.2", features = ["js"] }
tokio = { workspace = true, default-features = false, features = [ "rt" ] } # TODO: Remove tokio from runtime interface
console_error_panic_hook = "0.1.7"
url = { workspace = true }
bytes = { version = "1.1", default-features = false, features = ["std"] }
reqwest = { version = "0.12.4", default-features = false, features = ["rustls-tls", "stream"] }
once_cell = { workspace = true }
