[package]
name = "datasource_object_store"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "1.0"
tracing = "0.1"
async-trait = "0.1.59"
futures = "0.3.25"
tokio = { version = "1", features = ["full"] }
async-stream = "0.3.3"
datafusion = "15.0"
serde_json = "1.0.91"
serde = { version = "1.0", features = ["derive"] }
object_store = { version = "0.5", features = ["gcp", "aws"] }
parquet = "30.0.1"
bytes = "1.3.0"
