[package]
name = "datasource_object_store"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "1.0"
tracing = "0.1"
async-trait = "0.1.63"
futures = "0.3.25"
datafusion = "16.1"
serde = { version = "1.0", features = ["derive"] }
object_store = { version = "0.5", features = ["gcp", "aws"] }
parquet = "32.0.0"
bytes = "1.3.0"
