[package]
name = "logutil"
version = {workspace = true}
edition = {workspace = true}

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tracing = "0.1"
tracing-subscriber = {version = "0.3", features = ["std", "fmt", "json", "env-filter"] }
