[package]
name = "logutil"
version = {workspace = true}
edition = {workspace = true}

[lints]
workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tracing = { workspace = true }
tracing-subscriber = {version = "0.3", features = ["std", "fmt", "json", "env-filter"] }
tracing-log = "0.2"
chrono = { workspace = true }
