[package]
name = "snowflake_connector"
version = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[lib]
# no tests currently implemented in this package; skip, then
doctest = false
test = false

[dependencies]
thiserror.workspace = true
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
chrono = { workspace = true }
uuid = { version = "1.9.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
datafusion = { workspace = true }
hex = "0.4.3"
base64 = "0.22.1"
bytes = "1.6.0"
flate2 = "1.0.30"
decimal = { path = "../decimal" }

[dev-dependencies]
tokio = { workspace = true }
logutil = { path = "../logutil" }
