[package]
name = "snowflake_connector"
version = { workspace = true }
edition = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror.workspace = true
reqwest = { version = "0.11.18", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.103"
tracing = "0.1"
chrono = "0.4.26"
uuid = { version = "1.4.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
datafusion = { workspace = true }
hex = "0.4.3"
base64 = "0.21.2"
bytes = "1.4.0"
flate2 = "1.0.26"
decimal = { path = "../decimal" }

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
logutil = { path = "../logutil" }
