[package]
name = "snowflake_connector"
version = { workspace = true }
edition = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "1.0"
reqwest = { version = "0.11.18", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.96"
tracing = "0.1"
chrono = "0.4.23"
uuid = { version = "1.3.2", features = ["v4", "fast-rng", "macro-diagnostics"] }
datafusion = { workspace = true }
hex = "0.4.3"
base64 = "0.21.0"
bytes = "1.4.0"
flate2 = "1.0.26"
decimal = { path = "../decimal" }

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
logutil = { path = "../logutil" }
