[package]
name = "pgsrv"
version = {workspace = true}
edition = {workspace = true}

[lints]
workspace = true

[lib]
# no doctests currently implemented in this package; skip, then
doctest = false

[dependencies]
futures = { workspace = true }
async-trait = { workspace = true }
datafusion = { workspace = true }
tokio = { workspace = true }
reqwest = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
serde = { workspace = true }
bytes = { workspace = true }
sqlexec = { path = "../sqlexec" }
proxyutil = { path = "../proxyutil" }
bytesutil = { path = "../bytesutil" }
parser = { path = "../parser" }
pgrepr = { path = "../pgrepr" }
datafusion_ext = { path = "../datafusion_ext" }
rustls = "0.23.5"
webpki-roots = "0.26.1"
tokio-rustls = "0.26.0"
rustls-pemfile = "2.1.2"
tokio-util = { version = "0.7.10", features = ["codec"] }
tokio-postgres = "0.7.8"
uuid = { version = "1.8.0", features = ["v4", "fast-rng", "macro-diagnostics"] }

[dev-dependencies]
tempfile = "3"
