[package]
name = "pgsrv"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
ioutil = {path = "../ioutil"}
sqlexec = {path = "../sqlexec"}
serde = { version = "1.0", features = ["derive"] }
bytesutil = {path = "../bytesutil"}
pgrepr = {path = "../pgrepr"}
thiserror = "1.0"
tracing = "0.1"
async-trait = "0.1.57"
futures = "0.3.21"
datafusion = "13.0"
tokio-util = { version = "0.7.4", features = ["codec"] }
bytes = "1.2.1"
tokio = { version = "1", features = ["full"] }
postgres-types = "0.2.4"
reqwest = { version = "0.11.12", features = ["json"] }
