[package]
name = "pgsrv"
version = {workspace = true}
edition = {workspace = true}

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sqlexec = {path = "../sqlexec"}
serde = { version = "1.0", features = ["derive"] }
bytesutil = {path = "../bytesutil"}
pgrepr = {path = "../pgrepr"}
thiserror.workspace = true
tracing = "0.1"
futures = "0.3.28"
async-trait = "0.1.68"
datafusion = {workspace = true}
tokio-util = { version = "0.7.8", features = ["codec"] }
bytes = "1.4.0"
tokio = { version = "1", features = ["full"] }
reqwest = { version = "0.11.18", default-features = false, features = ["json", "rustls-tls"] }
uuid = { version = "1.4.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
tokio-postgres = "0.7.8"
rustls = "0.21.2"
webpki-roots = "0.24.0"
tokio-rustls = "0.24.1"
rustls-pemfile = "1.0.3"

[dev-dependencies]
tempfile = "3"
