[package]
name = "pgsrv"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ioutil = {path = "../ioutil"}
sqlexec = {path = "../sqlexec"}
serde = { version = "1.0", features = ["derive"] }
bytesutil = {path = "../bytesutil"}
pgrepr = {path = "../pgrepr"}
thiserror = "1.0"
tracing = "0.1"
async-trait = "0.1.63"
futures = "0.3.25"
datafusion = "16.1"
tokio-util = { version = "0.7.4", features = ["codec"] }
bytes = "1.4.0"
tokio = { version = "1", features = ["full"] }
reqwest = { version = "0.11.14", default-features = false, features = ["json", "rustls-tls"] }
openssl = "0.10.45"
tokio-openssl = "0.6.3"
uuid = { version = "1.2.2", features = ["v4", "fast-rng", "macro-diagnostics"] }
