[package]
name = "pgsrv"
version = {workspace = true}
edition = {workspace = true}

[lints]
workspace = true

[lib]
# no doctests currently implemented in this package; skip, then
doctest = false

[dependencies]
async-trait = { workspace = true }
bytes = { workspace = true }
datafusion = { workspace = true }
futures = { workspace = true }
reqwest = { workspace = true }
rustls = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
bytesutil = { path = "../bytesutil" }
datafusion_ext = { path = "../datafusion_ext" }
parser = { path = "../parser" }
pgrepr = { path = "../pgrepr" }
proxyutil = { path = "../proxyutil" }
sqlexec = { path = "../sqlexec" }
once_cell = "1.19.0"
rustls-pemfile = "2.2.0"
tokio-postgres = "0.7.12"
tokio-rustls = "0.26.0"
tokio-util = { version = "0.7.12", features = ["codec"] }
uuid = { version = "1.10.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
webpki-roots = "0.26.6"

[dev-dependencies]
tempfile = "3"
