[package]
name = "pgsrv"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
anyhow = "1.0"
thiserror = "1.0"
tracing = "0.1"
async-trait = "0.1.56"
futures = "0.3.21"
tokio-util = { version = "0.7.3", features = ["codec"] }
bytes = "1.2.1"
tokio = { version = "1", features = ["full"] }
