[package]
name = "pgsrv"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sqlexec = {path = "../sqlexec"}
serde = { version = "1.0", features = ["derive"] }
bytesutil = {path = "../bytesutil"}
pgrepr = {path = "../pgrepr"}
thiserror = "1.0"
tracing = "0.1"
futures = "0.3.27"
async-trait = "0.1.67"
datafusion = "20.0"
tokio-util = { version = "0.7.7", features = ["codec"] }
bytes = "1.4.0"
tokio = { version = "1", features = ["full"] }
reqwest = { version = "0.11.14", default-features = false, features = ["json", "rustls-tls"] }
openssl = "0.10.48"
tokio-openssl = "0.6.3"
uuid = { version = "1.3.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
tokio-postgres = "0.7.7"
