[package]
name = "pgsrv"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
ioutil = {path = "../ioutil"}
sqlexec = {path = "../sqlexec"}
serde = { version = "1.0", features = ["derive"] }
bytesutil = {path = "../bytesutil"}
object_store_util = {path = "../object_store_util"}
pgrepr = {path = "../pgrepr"}
thiserror = "1.0"
tracing = "0.1"
async-trait = "0.1.61"
futures = "0.3.25"
datafusion = "15.0"
tokio-util = { version = "0.7.4", features = ["codec"] }
bytes = "1.3.0"
tokio = { version = "1", features = ["full"] }
postgres-types = "0.2.4"
reqwest = { version = "0.11.14", features = ["json"] }
openssl = "0.10.45"
tokio-openssl = "0.6.3"
uuid = { version = "1.2.2", features = ["v4", "fast-rng", "macro-diagnostics"] }
