[package]
name = "rpcsrv"
version.workspace = true
edition.workspace = true

[lints]
workspace = true

[lib]
# no doctests currently implemented in this package; skip, then
doctest = false

[dependencies]
arrow-flight = { workspace = true  }
async-trait = { workspace = true }
datafusion = { workspace = true }
datafusion-proto = { workspace = true }
futures = { workspace = true }
prost = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }

datafusion_ext = { path = "../datafusion_ext" }
logutil = { path = "../logutil" }
protogen = { path = "../protogen" }
proxyutil = { path = "../proxyutil" }
sqlexec = { path = "../sqlexec" }
telemetry = { path = "../telemetry" }

base64 = "0.22.1"
bytes = "1.6"
dashmap = "6.0.1"
once_cell = "1.19.0"
uuid = { version = "1.8.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
