[package]
name = "rpcsrv"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arrow-flight = { workspace = true  }
async-trait = { workspace = true }
datafusion = { workspace = true }
datafusion-proto = { workspace = true }
futures = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }

datafusion_ext = { path = "../datafusion_ext" }
logutil = { path = "../logutil" }
protogen = { path = "../protogen" }
proxyutil = { path = "../proxyutil" }
sqlexec = { path = "../sqlexec" }
telemetry = { path = "../telemetry" }
base64 = "0.21.5"
bytes = "1.4"
dashmap = "5.5.0"
once_cell = "1.19.0"
uuid = { version = "1.6.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
