[package]
name = "rpcsrv"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sqlexec = { path = "../sqlexec" }
proxyutil = { path = "../proxyutil" }
datafusion_ext = { path = "../datafusion_ext" }
telemetry = { path = "../telemetry" }
datafusion = { workspace = true }
datafusion-proto = { workspace = true }
serde = { workspace = true }
logutil = { path = "../logutil" }
protogen = { path = "../protogen" }
once_cell = "1.19.0"
tokio = { workspace = true }
uuid = { version = "1.6.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
async-trait = "0.1.75"
tracing = "0.1"
thiserror = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
tonic = { workspace = true }
bytes = "1.4"
futures = "0.3.29"
dashmap = "5.5.0"
arrow-flight = { version = "47.0.0", features = ["flight-sql-experimental"] }
base64 = "0.21.5"
