[package]
name = "metastore"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tonic = { version = "0.8", features = ["transport", "tls", "tls-roots"] }
prost = "0.11"
prost-types = "0.11"
logutil = {path = "../logutil"}
thiserror = "1.0"
parking_lot = "0.12.1"
tokio = { version = "1", features = ["full"] }
futures = "0.3.25"
tracing = "0.1"
async-trait = "0.1.61"
uuid = { version = "1.2.2", features = ["v4", "fast-rng", "macro-diagnostics"] }
object_store = "0.5"
once_cell = "1.17.0"

[build-dependencies]
tonic-build = "0.8"
