[package]
name = "metastore"
version = { workspace = true }
edition = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
object_store_util = {path = "../object_store_util"}
pgrepr = {path = "../pgrepr"}
tonic = { version = "0.9", features = ["transport", "tls", "tls-roots"] }
prost = "0.11"
prost-types = "0.11"
thiserror = "1.0"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
async-trait = "0.1.68"
datafusion = "20.0"
uuid = { version = "1.3.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
bytes = "1.4"
object_store = "0.5"
once_cell = "1.17.1"
proptest = "1.1"
proptest-derive = "0.3"
tower = "0.4"
futures = "0.3.28"

[build-dependencies]
tonic-build = "0.9"
