[package]
name = "metastore"
version = {workspace = true}
edition = {workspace = true}

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ioutil = {path = "../ioutil"}
logutil = {path = "../logutil"}
protogen = {path = "../protogen"}
sqlbuiltins = { path = "../sqlbuiltins" }
object_store_util = {path = "../object_store_util"}
pgrepr = {path = "../pgrepr"}
tonic = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
async-trait = { workspace = true }
datafusion = { workspace = true }
uuid = { version = "1.6.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
bytes = "1.4"
object_store = { workspace = true }
once_cell = "1.19.0"
proptest = "1.4"
proptest-derive = "0.4"
tower = "0.4"
futures = { workspace = true }
dashmap = "5.5.0"
