[package]
name = "metastore"
version = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[lib]
# no tests currently implemented in this package; skip, then
doctest = false
test = false

[dependencies]
ioutil = { path = "../ioutil" }
logutil = { path = "../logutil" }
protogen = { path = "../protogen" }
sqlbuiltins = { path = "../sqlbuiltins" }
object_store_util = { path = "../object_store_util" }
pgrepr = { path = "../pgrepr" }
async-trait = { workspace = true }
datafusion = { workspace = true }
futures = { workspace = true }
object_store = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }
uuid = { version = "1.8.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
bytes = { workspace = true }
once_cell = "1.19.0"
tower = "0.4"
dashmap = "6.0.1"
catalog = { path = "../catalog" }
