[package]
name = "metastore"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
object_store_util = {path = "../object_store_util"}
pgrepr = {path = "../pgrepr"}
tonic = { version = "0.8", features = ["transport", "tls", "tls-roots"] }
prost = "0.11"
prost-types = "0.11"
thiserror = "1.0"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
async-trait = "0.1.64"
datafusion = "17.0"
bytes = "1.3"
uuid = { version = "1.3.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
object_store = "0.5"
once_cell = "1.17.0"
proptest = "1.0"
proptest-derive = "0.3"

[build-dependencies]
tonic-build = "0.8"
