[package]
name = "slt_runner"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
glaredb = {path = "../glaredb"}
metastore = {path = "../metastore"}
tokio = { version = "1", features = ["full"] }
sqllogictest = "0.13.2"
tokio-postgres = "0.7.7"
object_store = {version = "0.5", features = ["gcp"]}
anyhow = "1.0"
async-trait = "0.1.67"
clap = { version = "4.1.13", features = ["derive"] }
glob = "0.3.1"
regex = "1.7.3"
tracing = "0.1"
