[package]
name = "slt_runner"
version = {workspace = true}
edition = {workspace = true}

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
glaredb = {path = "../glaredb"}
metastore = {path = "../metastore"}
tokio = { version = "1", features = ["full"] }
sqllogictest = "0.14.0"
tokio-postgres = "0.7.8"
object_store = {version = "0.5", features = ["gcp"]}
anyhow = "1.0"
clap = { version = "4.3.3", features = ["derive"] }
async-trait = "0.1.68"
glob = "0.3.1"
regex = "1.8.1"
tracing = "0.1"
