[package]
name = "pgrepr"
version = {workspace = true}
edition = {workspace = true}

[lints]
workspace = true

[lib]
# no doctests currently implemented in this package; skip, then
doctest = false

[dependencies]
thiserror.workspace = true
datafusion = {workspace = true}
tokio-postgres = { version = "0.7.8", features = ["with-uuid-1", "with-serde_json-1", "with-chrono-0_4"] }
chrono = { workspace = true }
tracing = { workspace = true }
repr = { path = "../repr" }
decimal = { path = "../decimal" }
num-traits = "0.2.18"
dtoa = "1.0.9"
chrono-tz = "0.8.6"
bytes = { workspace = true }
const_format = "0.2.32"
once_cell = "1.19.0"
