[package]
name = "pgrepr"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
datafusion = "12.0"
thiserror = "1.0"
tracing = "0.1"
async-trait = "0.1.56"
postgres-types = "0.2.4"
lexical = { version = "6.1.1", features = ["parse-floats"] }
lexical-core = "0.8.5"
