[package]
name = "pgrepr"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
repr = { path = "../repr" }
thiserror = "1.0"
bytes = "1.4.0"
datafusion = "21.1"
tokio-postgres = { version = "0.7.7", features = ["with-uuid-1", "with-serde_json-1", "with-chrono-0_4"] }
num-traits = "0.2.15"
dtoa = "1.0.6"
chrono = "0.4.24"
chrono-tz = "0.8.1"
tracing = "0.1"
rust_decimal = { version = "1.29.0", features = ["db-tokio-postgres"] }
