[package]
name = "protogen"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
datafusion = { workspace = true }
datafusion-proto = { workspace = true }
thiserror.workspace = true
tonic = { version = "0.10", features = ["transport", "tls", "tls-roots"] }
prost = "0.11"
prost-types = "0.11"
proptest = "1.2"
proptest-derive = "0.3"
uuid = { version = "1.4.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
tracing = "0.1"

[build-dependencies]
tonic-build = "0.9"
# Only needed to handle custom btree mapping; can be removed when we bump the tonic version which will have this too
prost-build = "0.11"
