[package]
name = "protogen"
version.workspace = true
edition.workspace = true

[dependencies]
datafusion = { workspace = true }
datafusion-proto = { workspace = true }
thiserror.workspace = true
tonic = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
proptest = "1.4"
proptest-derive = "0.4"
uuid = { version = "1.7.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
tracing = { workspace = true }

[build-dependencies]
tonic-build = "0.10"
# Only needed to handle custom btree mapping; can be removed when we bump the tonic version which will have this too
prost-build = { workspace = true }
