[package]
name = "sqlbuiltins"
version = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[dependencies]
ioutil = { path = "../ioutil" }
logutil = { path = "../logutil" }
pgrepr = { path = "../pgrepr" }
protogen = { path = "../protogen" }
datafusion_ext = { path = "../datafusion_ext" }
catalog = { path = "../catalog" }
telemetry = { path = "../telemetry" }
datasources = { path = "../datasources" }
decimal = { path = "../decimal" }
async-trait = { workspace = true }
datafusion = { workspace = true }
futures = { workspace = true }
object_store = { workspace = true }
thiserror.workspace = true
tracing = { workspace = true }
uuid = { version = "1.7.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
once_cell = "1.19.0"
num-traits = "0.2.17"
strum = "0.25.0"
kdl = "5.0.0-alpha.1"
siphasher = "1.0.0"
fnv = "1.0.7"
memoize = { version = "0.4.2", features = ["full"] }
async-openai = "0.18.2"
tokio.workspace = true
