[package]
name = "sqlbuiltins"
version = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[lib]
# no doctests currently implemented in this package; skip, then
doctest = false

[dependencies]
ioutil = { path = "../ioutil" }
logutil = { path = "../logutil" }
pgrepr = { path = "../pgrepr" }
protogen = { path = "../protogen" }
datafusion_ext = { path = "../datafusion_ext" }
catalog = { path = "../catalog" }
telemetry = { path = "../telemetry" }
datasources = { path = "../datasources" }
parser = { path = "../parser" }
decimal = { path = "../decimal" }
async-trait = { workspace = true }
bytes = { workspace = true }
datafusion = { workspace = true }
futures = { workspace = true }
object_store = { workspace = true }
reqwest = { workspace = true }
serde_json = { workspace = true }
tempfile = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
async-openai = "0.24.0"
datafusion-functions-array = "36.0.0"
fnv = "1.0.7"
kdl = "5.0.0-alpha.1"
num-traits = "0.2.19"
once_cell = "1.19.0"
siphasher = "1.0.1"
strum = "0.26.3"
memoize = { version = "0.4.2", features = ["full"] }
uuid = { version = "1.10.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
arrow-cast = { version = "50.0.0" } # MUST synchronize sync with the datafusion::arrow version
lance-linalg = { git = "https://github.com/GlareDB/lance", branch = "df36" } # omits duckdb submodule
jaq-interpret = "1.5.0"
jaq-parse = "1.0.3"
bson = "2.12.0"
