[package]
name = "sqlbuiltins"
version = {workspace = true}
edition = {workspace = true}

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
pgrepr = {path = "../pgrepr"}
metastoreproto = { path = "../metastoreproto" }
telemetry = {path = "../telemetry"}
datasources = {path = "../datasources"}
thiserror.workspace = true
tokio = { version = "1", features = ["full"] }
async-trait = "0.1.68"
serde_json = "1.0.100"
sqlparser = "0.35.0"
datafusion = {workspace = true}
futures = "0.3.28"
tracing = "0.1"
object_store = "0.5"
uuid = { version = "1.4.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
regex = "1.8"
tonic = { version = "0.9", features = ["transport", "tls", "tls-roots"] }
tokio-postgres = "0.7.8"
once_cell = "1.18.0"
url.workspace = true
