[package]
name = "object_store_util"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
object_store = "0.5"
tempfile = "3"
futures = "0.3.27"
async-trait = "0.1.67"
thiserror = "1.0"
tokio = { version = "1", features = ["full"] }
bytes = "1.4.0"
tracing = "0.1"
moka = { version = "0.10.1", features = ["future"] }
uuid = { version = "1.3.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
