[package]
name = "object_store_util"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
object_store = "0.5"
tempfile = "3"
async-trait = "0.1.58"
futures = "0.3.24"
tokio = { version = "1", features = ["full"] }
bytes = "1.2.1"
