[package]
name = "object_store_util"
version = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[lib]
# no tests currently implemented in this package; skip, then
doctest = false
test = false 

[dependencies]
logutil = { path = "../logutil" }
object_store = { workspace = true, features = ["azure"] }
futures = { workspace = true }
async-trait = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tokio = { workspace = true }
tempfile = "3"
bytes = { workspace = true }
moka = { version = "0.12.5", features = ["future"] }
uuid = { version = "1.8.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
