[package]
name = "proxyutil"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { workspace = true }
thiserror = { workspace = true }
tracing = "0.1"
futures = "0.3.28"
async-trait = "0.1.72"
reqwest = { version = "0.11.22", default-features = false, features = ["json", "rustls-tls"] }
uuid = { version = "1.4.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
serde_json = { workspace = true }
