[package]
name = "sqlexec"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
arrowstore = {path = "../arrowstore"}
thiserror = "1.0"
parking_lot = "0.12.1"
tokio = { version = "1", features = ["full"] }
sqlparser = "0.23.0"
datafusion = "11.0"
arrow = "22.0.0"
tracing = "0.1"
async-trait = "0.1.56"
hashbrown = "0.12.3"
uuid = { version = "1.1.2", features = ["v4", "fast-rng", "macro-diagnostics"] }
