[package]
name = "sqlexec"
version = { workspace = true }
edition = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ioutil = { path = "../ioutil" }
arrow_util = { path = "../arrow_util" }
logutil = { path = "../logutil" }
protogen = { path = "../protogen" }
catalog = { path = "../catalog" }
proxyutil = { path = "../proxyutil" }
pgrepr = { path = "../pgrepr" }
telemetry = { path = "../telemetry" }
sqlbuiltins = { path = "../sqlbuiltins" }
datasources = { path = "../datasources" }
datafusion_ext = { path = "../datafusion_ext" }
object_store_util = { path = "../object_store_util" }
dashmap = "5.5.0"
metastore = { path = "../metastore" }
thiserror.workspace = true
tokio = { workspace = true }
async-trait = { workspace = true }
serde_json = { workspace = true }
datafusion = { workspace = true }
prost = { workspace = true }
datafusion-proto = { workspace = true }
bytes = "1.4.0"
futures = { workspace = true }
tracing = { workspace = true }
object_store = { workspace = true }
uuid = { version = "1.6.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
regex = "1.8"
tonic = { workspace = true }
tokio-postgres = "0.7.8"
once_cell = "1.19.0"
url.workspace = true
parking_lot = "0.12.1"
serde = { workspace = true }
itertools = "0.12.0"
reqwest = { workspace = true }
prql-compiler = "0.10.1"
num_cpus = "1.16.0"
async-channel = "2.1.1"

[dev-dependencies]
tempfile = "3"
tower = "0.4"
metastore = { path = "../metastore" }
