[package]
name = "sqlexec"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
dfutil = {path = "../dfutil"}
pgrepr = {path = "../pgrepr"}
access = {path = "../access"}
catalog_types = {path = "../catalog_types"}
persistence = {path = "../persistence"}
object_store_util = {path = "../object_store_util"}
thiserror = "1.0"
parking_lot = "0.12.1"
tokio = { version = "1", features = ["full"] }
sqlparser = "0.26.0"
datafusion = "14.0"
futures = "0.3.25"
tracing = "0.1"
async-trait = "0.1.58"
uuid = { version = "1.2.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
postgres-types = "0.2.4"
object_store = "0.5"

[dev-dependencies]
tempfile = "3"
