[package]
name = "sqlexec"
version = {workspace = true}
edition = {workspace = true}

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = {path = "../logutil"}
pgrepr = {path = "../pgrepr"}
metastore_client = { path = "../metastore_client" }
datafusion_planner = { path = "../datafusion_planner" }
telemetry = {path = "../telemetry"}
sqlbuiltins = {path = "../sqlbuiltins"}
datasources = {path = "../datasources"}
object_store_util = {path = "../object_store_util"}
thiserror.workspace = true
tokio = { version = "1", features = ["full"] }
async-trait = "0.1.72"
serde_json = "1.0.103"
datafusion = { workspace = true }
futures = "0.3.28"
tracing = "0.1"
object_store = { workspace = true }
uuid = { version = "1.4.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
regex = "1.8"
tonic = { version = "0.9", features = ["transport", "tls", "tls-roots"] }
tokio-postgres = "0.7.8"
once_cell = "1.18.0"
url.workspace = true
parking_lot = "0.12.1"

[dev-dependencies]
tempfile = "3"
tower = "0.4"
metastore = { path = "../metastore" }
