[package]
name = "sqlexec"
version = { workspace = true }
edition = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arrow_util = { path = "../arrow_util" }
logutil = { path = "../logutil" }
protogen = { path = "../protogen" }
proxyutil = { path = "../proxyutil" }
pgrepr = { path = "../pgrepr" }
telemetry = { path = "../telemetry" }
sqlbuiltins = { path = "../sqlbuiltins" }
datasources = { path = "../datasources" }
datafusion_ext = { path = "../datafusion_ext" }
object_store_util = { path = "../object_store_util" }
dashmap = "5.5.0"
metastore = { path = "../metastore" }
thiserror.workspace = true
tokio = { version = "1", features = ["full"] }
async-trait = "0.1.72"
serde_json = { workspace = true }
datafusion = { workspace = true }
datafusion-proto = { workspace = true }
bytes = "1.4.0"
futures = "0.3.28"
tracing = "0.1"
object_store = { workspace = true }
uuid = { version = "1.4.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
regex = "1.8"
tonic = { version = "0.10", features = ["transport", "tls", "tls-roots"] }
tokio-postgres = "0.7.8"
once_cell = "1.18.0"
url.workspace = true
parking_lot = "0.12.1"
serde = { workspace = true }
itertools = "0.11.0"
reqwest = { version = "0.11.18", default-features = false, features = ["json"] }
prql-compiler = "0.9.5"

[dev-dependencies]
tempfile = "3"
tower = "0.4"
metastore = { path = "../metastore" }
