[package]
name = "glaredb"
version = { workspace = true }
edition = { workspace = true }

[[bin]]
name = "glaredb"
path = "src/bin/main.rs"

[dependencies]
ioutil = { path = "../ioutil" }
arrow_util = { path = "../arrow_util" }
logutil = { path = "../logutil" }
sqlexec = { path = "../sqlexec" }
telemetry = { path = "../telemetry" }
datafusion_ext = { path = "../datafusion_ext" }
datafusion = { workspace = true }
pgsrv = { path = "../pgsrv" }
proxyutil = { path = "../proxyutil" }
rpcsrv = { path = "../rpcsrv" }
pgrepr = { path = "../pgrepr" }
protogen = { path = "../protogen" }
object_store = { workspace = true, features = ["gcp"] }
object_store_util = { path = "../object_store_util" }
metastore = { path = "../metastore" }
anyhow = "1.0"
tokio = { workspace = true }
clap = { version = "4.4.11", features = ["derive"] }
tracing = "0.1"
uuid = { version = "1.6.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
tonic = { workspace = true }
once_cell = "1.19.0"
futures = "0.3.30"
colored = "2.1.0"
reedline = "0.27.1"
nu-ansi-term = "0.49.0"
url.workspace = true
atty = "0.2.14"
sqlbuiltins = { path = "../sqlbuiltins" }
console-subscriber = "0.2.0"

[dev-dependencies]
predicates = "3.0.4"
assert_cmd = "2.0.12"
tokio-postgres = "0.7.8"
tempfile = { workspace = true }
