[package]
name = "glaredb"
version = {workspace = true}
edition = {workspace = true}

[[bin]]
name = "glaredb"
path = "src/bin/main.rs"

[dependencies]
logutil = {path = "../logutil"}
sqlexec = {path = "../sqlexec"}
telemetry = {path = "../telemetry"}
datafusion = {workspace = true}
pgsrv = {path = "../pgsrv"}
pgrepr = {path = "../pgrepr"}
object_store = {version = "0.5", features = ["gcp"]}
object_store_util = { path = "../object_store_util" }
metastore = {path = "../metastore"}
metastoreproto = { path = "../metastoreproto" }
anyhow = "1.0"
tokio = { version = "1", features = ["full"] }
clap = { version = "4.3.10", features = ["derive"] }
tracing = "0.1"
uuid = { version = "1.4.0", features = ["v4", "fast-rng", "macro-diagnostics"] }
tonic = { version = "0.9", features = ["transport", "tls", "tls-roots"] }
once_cell = "1.18.0"
futures = "0.3.28"
colored = "2.0.4"
reedline = "0.21.0"
nu-ansi-term = "0.47.0"
