[package]
name = "glaredb"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "glaredb"
path = "src/bin/main.rs"

[dependencies]
logutil = {path = "../logutil"}
lemur = {path = "../lemur"}
storageengine = {path = "../storageengine"}
sqlengine = {path = "../sqlengine"}
cloudwal = {path = "../cloudwal"}
pgsrv = {path = "../pgsrv"}
anyhow = "1.0"
serde = { version = "1.0", features = ["derive", "rc"] }
tokio = { version = "1", features = ["full"] }
async-trait = "0.1.56"
futures = "0.3.21"
rand = "0.8"
parking_lot = "0.12.1"
sqlparser = { version = "0.18", features = ["serde"] }
clap = { version = "3.2.14", features = ["derive"] }
tokio-util = { version = "0.7.3", features = ["codec"] }
tokio-serde = { version = "0.8", features = ["bincode"] }
tracing = "0.1"
tracing-subscriber = "0.3"
rustyline = "10.0.0"
bincode = "1.3.3"
object_store = { version = "0.4", features = ["gcp"] }
