[package]
name = "glaredb"
version = { workspace = true }
edition = { workspace = true }

[[bin]]
name = "glaredb"
path = "src/bin/main.rs"

[dependencies]
arrow_util = { path = "../arrow_util" }
logutil = { path = "../logutil" }
sqlexec = { path = "../sqlexec" }
telemetry = { path = "../telemetry" }
datafusion_ext = { path = "../datafusion_ext" }
datafusion = { workspace = true }
pgsrv = { path = "../pgsrv" }
proxyutil = { path = "../proxyutil" }
rpcsrv = { path = "../rpcsrv" }
pgrepr = { path = "../pgrepr" }
protogen = { path = "../protogen" }
object_store = { workspace = true, features = ["gcp"] }
object_store_util = { path = "../object_store_util" }
metastore = { path = "../metastore" }
anyhow = "1.0"
tokio = { version = "1", features = ["full"] }
clap = { version = "4.3.19", features = ["derive"] }
tracing = "0.1"
uuid = { version = "1.4.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
tonic = { version = "0.9", features = ["transport", "tls", "tls-roots"] }
once_cell = "1.18.0"
futures = "0.3.28"
colored = "2.0.4"
reedline = "0.22.0"
nu-ansi-term = "0.49.0"
crossterm = "0.26.1"
url.workspace = true
reqwest = { version = "0.11.18", default-features = false, features = ["json"] }
serde = { workspace = true }

[dev-dependencies]
tokio-postgres = "0.7.8"
