[package]
name = "glaredb"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "glaredb"
path = "src/bin/main.rs"

[dependencies]
logutil = {path = "../logutil"}
buildenv = {path = "../buildenv"}
sqlexec = {path = "../sqlexec"}
pgsrv = {path = "../pgsrv"}
object_store_util = {path = "../object_store_util"}
object_store = {version = "0.5", features = ["gcp"]}
metastore = {path = "../metastore"}
anyhow = "1.0"
serde = { version = "1.0", features = ["derive", "rc"] }
tokio = { version = "1", features = ["full"] }
async-trait = "0.1.61"
futures = "0.3.25"
rand = "0.8"
parking_lot = "0.12.1"
clap = { version = "4.1.1", features = ["derive"] }
sqlparser = { version = "0.30", features = ["serde"] }
tokio-util = { version = "0.7.4", features = ["codec"] }
tokio-serde = { version = "0.8", features = ["bincode"] }
tracing = "0.1"
tracing-subscriber = "0.3"
rustyline = "10.1.1"
bincode = "1.3.3"
tempfile = "3"
uuid = { version = "1.2.2", features = ["v4", "fast-rng", "macro-diagnostics"] }
tonic = { version = "0.8", features = ["transport", "tls", "tls-roots"] }
