[package]
name = "telemetry"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tracing = "0.1"
segment = "0.2.2"
tokio = { version = "1", features = ["full"] }
serde_json = "1.0.95"
uuid = { version = "1.3.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
