[package]
name = "rayexec_bin"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
logutil = { path = '../logutil' }
rayexec_error = { path = '../rayexec_error' }
rayexec_shell = { path = '../rayexec_shell' }
rayexec_execution = { path = '../rayexec_execution' }
rayexec_rt_native = { path = '../rayexec_rt_native' }
rayexec_bullet = { path = '../rayexec_bullet' }
# rayexec_parquet = { path = '../rayexec_parquet', features = ["zstd"] }
# rayexec_delta = { path = '../rayexec_delta' }
# rayexec_iceberg = { path = '../rayexec_iceberg' }
# rayexec_unity_catalog = { path = '../rayexec_unity_catalog' }
# rayexec_csv = { path = '../rayexec_csv' }
tracing = { workspace = true }
tracing-subscriber = {version = "0.3", features = ["std", "fmt", "json", "env-filter"] }
futures = { workspace = true }
crossterm = "0.27.0"
clap = { version = "4.5.9", features = ["derive"] }
