[package]
name = "rayexec_io"
version.workspace = true
edition.workspace = true

[dependencies]
rayexec_error = { path = '../rayexec_error' }
rayexec_proto = { path = '../rayexec_proto' }
futures = { workspace = true }
tracing = { workspace = true }
reqwest = { version = "0.12.4", default-features = false, features = ["rustls-tls", "stream"] }
url = { workspace = true, features = ["serde"] }
bytes = { version = "1.1", default-features = false, features = ["std"] }
serde = { workspace = true }
serde_json = { workspace = true }
parking_lot = { workspace = true }
chrono = { version = "0.4.39", features = ["serde"] }
hmac = "0.12.1"
sha2 = "0.10.8"
percent-encoding = "2.3.1"
quick-xml = { version = "0.36.0", default-features = false, features = ["serialize"] }
