[package]
name = "datasources"
version = {workspace = true}
edition = {workspace = true}

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
apache-avro = "0.15"
async-channel = "1.9.0"
async-stream = "0.3.5"
async-trait = "0.1.72"
bigquery-storage = { git = "https://github.com/glaredb/bigquery-storage", branch = "master" }
bitflags = "2.3"
bitvec = "1"
bytes = "1.4.0"
chrono = { workspace = true }
datafusion = { workspace = true }
decimal = { path = "../decimal" }
deltalake = { workspace = true }
futures = "0.3.28"
gcp-bigquery-client = "0.17.0"
logutil = {path = "../logutil"}
protogen = {path = "../protogen"}
datafusion_ext = { path = "../datafusion_ext" }
mongodb = "2.6.0"
mysql_async = { version = "0.32.2", default-features = false, features = ["default-rustls"] }
mysql_common = { version = "0.30.6", features = ["chrono"] }
object_store = { workspace = true, features = ["gcp", "aws", "http"] }
object_store_util = { path = "../object_store_util" }
glob = "0.3.1"
once_cell = "1.18.0"
rand = "0.8.5"
regex = "1.9.1"
repr = { path = "../repr" }
reqwest = { version = "0.11.18", default-features = false, features = ["json", "rustls-tls"] }
ring = "0.16.20"
rustls = "0.21.6"
rust_decimal = { version = "1.31.0", features = ["db-tokio-postgres"] }
serde = { workspace = true }
serde_bytes = "0.11.12"
serde_with = "3.1.0"
serde_json = { workspace = true }
snowflake_connector = { path = "../snowflake_connector" }
ssh-key = { version = "0.5.1", features = ["ed25519", "alloc"] }
tempfile = "3.7.0"
thiserror.workspace = true
tokio = { version = "1.29.1", features = ["full"] }
tokio-postgres = { version = "0.7.8", features = ["with-uuid-1", "with-serde_json-1","with-chrono-0_4"] }
tokio-rustls = "0.24.1"
tracing = "0.1"
uuid = "1.4.1"
url.workspace = true
webpki-roots = "0.25.1"
dashmap = "5.5.0"
calamine = { version = "0.22.1", features = ["dates"] }

# SSH tunnels
[target.'cfg(any(target_os = "linux", target_os = "macos"))'.dependencies]
openssh = "0.9.9"
