[package]
name = "datasources"
version = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[lib]
# no doctests currently implemented in this package; skip, then
doctest = false

[dependencies]
datafusion_ext = { path = "../datafusion_ext" }
decimal = { path = "../decimal" }
ioutil = { path = "../ioutil" }
logutil = { path = "../logutil" }
object_store_util = { path = "../object_store_util" }
parser = { path = "../parser" }
protogen = { path = "../protogen" }
repr = { path = "../repr" }
snowflake_connector = { path = "../snowflake_connector" }
async-trait = { workspace = true }
bytes = { workspace = true }
chrono = { workspace = true }
datafusion = { workspace = true }
deltalake = { workspace = true }
futures = { workspace = true }
object_store = { workspace = true, features = ["gcp", "aws", "http"] }
reqwest = { workspace = true }
rustls = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tempfile = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }
apache-avro = "0.16"
async-channel = "2.3.1"
async-sqlite = "0.3.0"
async-stream = "0.3.5"
bitvec = "1"
bson = "2.11.0"
chrono-tz = "0.9"
gcp-bigquery-client = "0.22.0"
glob = "0.3.1"
indexmap = "2.3.0"
mongodb = "3.0.1"
once_cell = "1.19.0"
parking_lot = "0.12.3"
rand = "0.8.5"
regex = "1.10.6"
ring = "0.17.8"
scylla = "0.13.1"
serde_with = "3.9.0"
tokio-postgres-rustls = "0.12.0"
tokio-rustls = "0.26.0"
tokio-util = "0.7.11"
uuid = "1.10.0"
webpki-roots = "0.26.3"
calamine = { version = "0.25.0", features = ["dates"] }
klickhouse = { version = "0.13.0", features = ["tls"] }
mysql_async = { version = "0.34.1", default-features = false, features = ["default-rustls"] }
mysql_common = { version = "0.32.4", default-features = false, features = ["chrono"] }
rust_decimal = { version = "1.35.0", features = ["db-tokio-postgres"] }
ssh-key = { version = "0.6.6", features = ["ed25519", "alloc"] }
tiberius = { version = "0.12.3", default-features = false, features = ["tds73","rustls","chrono"] }
tokio-postgres = { version = "0.7.11", features = ["with-uuid-1", "with-serde_json-1","with-chrono-0_4"] }
memoize = { version = "0.4.2", features = ["full"] }
bigquery-storage = { git = "https://github.com/glaredb/bigquery-storage", branch = "deps/2023-10-27-update" }
lance = { git = "https://github.com/GlareDB/lance", branch = "df36" }
json-stream = { git = "https://github.com/tychoish/json-stream", rev = "bd4990fab95f789740a75a8eea98d5dac1f0160a" }
jaq-interpret = "1.5.0"
jaq-parse = "1.0.3"

# SSH tunnels
[target.'cfg(any(target_os = "linux", target_os = "macos"))'.dependencies]
openssh = "0.11.0"
