[package]
name = "datasources"
version = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[dependencies]
ioutil = { path = "../ioutil" }
logutil = { path = "../logutil" }
apache-avro = "0.16"
async-channel = "2.1.1"
async-stream = "0.3.5"
async-trait = { workspace = true }
bigquery-storage = { git = "https://github.com/glaredb/bigquery-storage", branch = "deps/2023-10-27-update" }
bitvec = "1"
bytes = "1.4.0"
chrono = { workspace = true }
chrono-tz = "0.8.5"
datafusion = { workspace = true }
decimal = { path = "../decimal" }
deltalake = { workspace = true }
futures = { workspace = true }
gcp-bigquery-client = "0.18.0"
klickhouse = { version = "0.11.0", features = ["tls"] }
protogen = { path = "../protogen" }
datafusion_ext = { path = "../datafusion_ext" }
mongodb = "2.8.0"
mysql_async = { version = "0.33.0", default-features = false, features = [
  "default-rustls",
] }
mysql_common = { version = "0.31", default-features = false, features = [
  "chrono",
] }
object_store = { workspace = true, features = ["gcp", "aws", "http"] }
object_store_util = { path = "../object_store_util" }
once_cell = "1.19.0"
rand = "0.8.5"
regex = "1.9.1"
repr = { path = "../repr" }
ring = "0.17.7"
rustls = "0.21.10"
reqwest = { workspace = true }
rust_decimal = { version = "1.33.1", features = ["db-tokio-postgres"] }
serde = { workspace = true }
serde_with = "3.5.1"
serde_json = { workspace = true }
snowflake_connector = { path = "../snowflake_connector" }
tempfile = { workspace = true }
ssh-key = { version = "0.6.4", features = ["ed25519", "alloc"] }
thiserror.workspace = true
tokio-util = { version = "*" }
tokio = { workspace = true }
tokio-postgres = { version = "0.7.8", features = [
  "with-uuid-1",
  "with-serde_json-1",
  "with-chrono-0_4",
] }
parking_lot = "0.12.1"
tokio-rustls = "0.24.1"
tracing = { workspace = true }
uuid = "1.7.0"
url.workspace = true
webpki-roots = "0.26.0"
calamine = { version = "0.23.1", features = ["dates"] }
tiberius = { version = "0.12.2", default-features = false, features = [
  "tds73",
  "rustls",
  "chrono",
] }
lance = { git = "https://github.com/universalmind303/lance", rev = "ffd4ac6ee2c61b3792a904b2e12152b246e837e6" }
bson = "2.7.0"
scylla = { version = "0.11.1" }
glob = "0.3.1"

# SSH tunnels
[target.'cfg(any(target_os = "linux", target_os = "macos"))'.dependencies]
openssh = "0.10.3"
