name: GlareDB CI

on: [push, workflow_dispatch]

jobs:
  test:
    name: CI
    runs-on: ubuntu-latest

    concurrency:
      group: ci-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install nix
        uses: cachix/install-nix-action@v15
        with:
          extra_nix_config: |
            access-tokens = github=${{ github.token }}

      - name: configure cachix
        uses: cachix/cachix-action@v10
        with:
          name: glaredb
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: run checks
        run: nix flake check

      # TODO: Add this under nix flake check?
      - name: SQL Logic Tests
        run: nix develop -c cargo run --bin slt_runner -- testdata/sqllogictests/*.slt
