name: Build and Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - sean/pgsrv-return-error

jobs:
  build-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest

    concurrency:
      group: image-${{ github.ref }}
      cancel-in-progress: true

    permissions:
      id-token: write # required to use OIDC auth
      contents: write # required to checkout code

    env:
      GCP_PROJECT_ID: glaredb-dev-playground

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install nix
        uses: cachix/install-nix-action@v18
        with:
          extra_nix_config: |
            access-tokens = github=${{ github.token }}

      - name: configure cachix
        uses: cachix/cachix-action@v12
        with:
          name: glaredb-ci
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_JSON }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v0

      - name: Configure docker
        run: gcloud auth configure-docker -q

      - name: Build and push images
        run: ./scripts/build-and-push-images.sh

      - name: Setup GKE
        run: gcloud container clusters get-credentials glaredb-test-cluster --zone us-central1

      - name: Deploy pgsrv proxy to QA
        run: |-
          kubectl apply -f ./deploy.yml
          kubectl rollout restart deployment/glaredb-proxy
          kubectl rollout status deployment/glaredb-proxy
          kubectl get services glaredb-proxy-service -o wide
