name: Build Image

on:
  workflow_dispatch:
  push:
    tags:
      - "*"
    branches:
      - sean/fix-image
      - main

jobs:
  build-deploy:
    name: Build Image
    runs-on: ubuntu-latest-8-cores

    concurrency:
      group: image-${{ github.ref }}
      cancel-in-progress: true

    permissions:
      id-token: write # required to use OIDC auth
      contents: write # required to checkout code

    env:
      GCP_PROJECT_ID: glaredb-artifacts

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_JSON }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v1

      - name: Configure docker
        run: gcloud auth configure-docker -q

      - name: Build and push images
        run: ./scripts/build-and-push-images.sh
