name: Build Release

on:
  workflow_dispatch:
  push:
    tags:
      - "*"
    branches:
      - main
      - sean/release

jobs:
  dist:
    strategy:
      fail-fast: false
      matrix:
        include:
          # See https://github.com/GlareDB/glaredb/issues/1030
          # - os: windows-latest
          #   target: x86_64-pc-windows-msvc
          - os: ubuntu-20.04
            target: x86_64-unknown-linux-gnu
          - os: macos-12-xl
            target: x86_64-apple-darwin
          - os: macos-12-xl
            target: aarch64-apple-darwin


    name: Build release (${{ matrix.target }})
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}

    env:
      DIST_TARGET_TRIPLE: ${{ matrix.target }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo xtask dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          name: dist-${{ matrix.target }}
          path: ./target/dist/

  publish:
    name: publish
    runs-on: ubuntu-latest
    needs: ["dist"]
    steps:
      - uses: actions/download-artifact@v1
        with:
          name: dist-aarch64-apple-darwin
          path: dist
      - uses: actions/download-artifact@v1
        with:
          name: dist-x86_64-apple-darwin
          path: dist
      - uses: actions/download-artifact@v1
        with:
          name: dist-x86_64-unknown-linux-gnu
          path: dist

      - run: ls -al ./dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          name: releases
          path: ./dist
