name: Build Release

on:
  schedule:
    # Run every Monday at 12:00
    - cron: 0 12 * * 1
  workflow_dispatch:
  push:
    tags:
      - "*"
jobs:
  dist:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest-8-cores
            target: x86_64-pc-windows-msvc
          - os: ubuntu-2004-8-cores
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-2204-8-cores
            target: aarch64-unknown-linux-gnu
          - os: macos-12-xl
            target: x86_64-apple-darwin
          - os: macos-12-xl
            target: aarch64-apple-darwin

    name: Build release (${{ matrix.target }})
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}

    env:
      DIST_TARGET_TRIPLE: ${{ matrix.target }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Rust toolchain
        uses: dtolnay/rust-toolchain@1.75.0
        with:
          targets: ${{ matrix.target }}

      - uses: extractions/setup-just@v1

      - name: install aarch64 dependencies
        if: ${{ matrix.target == 'aarch64-unknown-linux-gnu' }}
        run: sudo apt-get install gcc-aarch64-linux-gnu libc6-dev-arm64-cros

      - name: Build
        run: just dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.target }}
          path: ./target/dist/

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: ["dist"]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist-aarch64-apple-darwin
          path: dist
      - uses: actions/download-artifact@v4
        with:
          name: dist-x86_64-apple-darwin
          path: dist
      - uses: actions/download-artifact@v4
        with:
          name: dist-x86_64-unknown-linux-gnu
          path: dist
      - uses: actions/download-artifact@v4
        with:
          name: dist-aarch64-unknown-linux-gnu
          path: dist
      - uses: actions/download-artifact@v3
        with:
          name: dist-x86_64-pc-windows-msvc
          path: dist

      - run: ls -al ./dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: releases
          path: ./dist
